{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "ignore": "test.js",
  "env": {
    "test": {
      "sourceMaps": "inline",
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
